//h4 "Our platform...": Averta-Light 24px (using Noto Sans KR Light 300)
//h2 "Here's how it works": Averta-Semibold 48px (using Noto Sans KR Bold 700)
//number Averta Extra bold (need to download) color: #DCDCDC size: 80, lh: .9, letter-spacing: -1px Noto Sans KR 900
//h3 "Connect your crowds": Averta-Semibold 32px (same for others) (using Noto Sans KR Bold 700)
//p "Onboard users...": Averta-Light 16px (same for others) (using Noto Sans KR Light 300)

//Pink btn text "Schedule a demo today": Averta-Semibold 16px, lh: 17px, ls: 1.5, text color: #FFFFFF, padding: 20px, no border, 6px br
//TODO: fix spacing between this and devices image
//TODO: get lower-quality images for smaller screen sizes
//TODO: fix hr

.motivators {
  width: 100%;
  height: 1268px;
  background-color: $background;
  //TODO: change to something less gross
  margin-top: -985px;
  position: absolute;
  z-index: 2;

  h2 {
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 60px;
    // margin-bottom: 29px;
  }

  h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -1px;
  }

  h4 {
    color: #000000;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
  }

  //127 pixels between
  .motivate-content {
    //TODO: change to shorthand
    margin-top: -490px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    grid-column-gap: 60px;
    align-items: center;

    //!added for hr
    @media (min-width: 768px) {
      .motivate-left {
        display: grid;
      }
    }
  }

  .motivate-left {
    display: grid;
    grid-row-gap: 20px;

    .how-it-works {
      padding-top: 175px;
    }

    @media (min-width: 768px) {
      .service-item {
        border-top: 1px solid #efefef;
        border-left: 1px solid #efefef;
      }
    }

    .motivator-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 60px;
      align-items: start;

      //!added for hr
      border-top: 1px solid #efefef;
      //!end of added for hr

      .motivate-title {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: start;
      }

      .motivate-info {
        display: grid;
        margin-top: 22px;
      }

      span {
        font-family: $notoSansKR;
        font-size: 80px;
        font-weight: 900;
        letter-spacing: -1px;
        color: #dcdcdc;
        line-height: 128px;
      }
    }
  }

  @media (max-width: 1074px) {
    .motivate-content {
      .motivate-left {
        .how-it-works {
          padding-top: 0px;
        }
      }
      .motivate-right {
        grid-template-rows: 2fr 1fr 2fr 2fr;
        margin-top: 110px;

        .motivate-concert {
          grid-row-start: 1;
          grid-row-end: 4;
        }

        .motivate-meeting {
          grid-row-start: 3;
          grid-row-end: 5;
        }
      }
    }
  }

  @media (max-width: 630px) {
    .motivate-content {
      .motivate-left {
        //TODO: may not be needed?
        .how-it-works {
          padding-top: 0px;
        }
      }
      .motivate-right {
        grid-template-rows: 2fr 1fr 2fr 2fr 2fr;
        margin-top: 110px;

        .motivate-concert {
          grid-row-start: 1;
          grid-row-end: 4;
        }

        .motivate-meeting {
          grid-row-start: 4;
          grid-row-end: 6;
          grid-column-start: 1;
          grid-column-end: 4;
        }
      }
    }
  }

  .motivate-right {
    display: grid;
    justify-items: center;
    //TODO: change to repeat
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr 2fr;

    .motivate-concert {
      grid-row-start: 2;
      grid-row-end: 5;
      z-index: 2;
      grid-column-start: 1;
      grid-column-end: 4;
    }

    .motivate-meeting {
      grid-row-start: 4;
      grid-row-end: 6;
      grid-column-start: 2;
      grid-column-end: 5;
      z-index: 1;
    }
  }

  button {
    background-color: $secondaryBtnColor;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 20px;
    // margin-top: 110px;
    margin: 110px 0px;
    border-radius: 6px;
    color: $defaultBtnText;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 1.5px;
  }
}
