//page color scheme
$background: #ffffff;

//colors for elements
$h2Color: #000000;
$primaryBtnColor: #ffffff;
$secondaryBtnColor: #c7169c;

//font sizes
//TODO: change font sizes to fit design specs
$font-med: 1.125rem;
$font-sm: 0.875rem;

