//page color scheme
$background: #ffffff;
$connectBackground: #f8f8f8;
$motivatorsBackground: #e5e5e5;

//colors for elements
$h2Color: #000000;
$primaryBtnColor: #ffffff;
$secondaryBtnColor: #c7169c;
$defaultBtnText: #ffffff;

//font sizes
//TODO: change font sizes to fit design specs
$font-med: 1.125rem;
$font-sm: 0.875rem;

//fonts
$notoSansJP: "Noto Sans JP", sans-serif;
$notoSansKR: "Noto Sans KR", sans-serif;
